@using DataAccess.Model
@model IList<Uzivatel>

@{
    ViewBag.Title = "Index";
}

<h2 class="mt-4">Výpis uživatelů</h2>

<a class="icon-link" href="@Url.Action("PridatUzivatele", "Uzivatel")">
    <span class="fas fa-user-plus fa-2x"></span>
</a>
<p></p>
<div class="table-responsive">
    <table class="table table-bordered table-hover text-center table-sm">
        <thead>
            <tr>
                <th>Jméno</th>
                <th>Příjmení</th>
                <th>Skupina</th>
                <th>Uživatelské jméno</th>
                <th>Role</th>
                <th>Akce</th>
            </tr>
        </thead>
        <tbody>
            @foreach (Uzivatel u in Model)
            {
                <tr>
                    <td>@u.Jmeno</td>
                    <td>@u.Prijmeni</td>
                    <td>
                        @if (u.Skupina != null)
                        {
                            @u.Skupina.Nazev
                        }
                        else
                        {
                            <span class="text-danger">žádná</span>
                        }
                    </td>
                    <td>@u.Login</td>
                    <td>@u.Role.Popis</td>
                    <td class="text-center">
                        <a class="icon-link" href="@Url.Action("Editace", "Uzivatel", new {id = u.Id})">
                            <span class="fas fa-lg fa-user-edit icon-orange"></span>
                        </a>
                        <a class="icon-link" href="@Url.Action("Odstranit", "Uzivatel", new {id = u.Id})" onclick="return confirm('Přejete si opravdu smazat uživatele @u.Jmeno @u.Prijmeni?')">
                            <span class="fas fa-lg fa-trash-alt icon-red"></span>
                        </a>
                    </td>
                </tr>
            }
        </tbody>
    </table>
</div>

@if (ViewBag.Pages != null)
{
    <ul class="pagination">

        @for (int i = 1; i <= ViewBag.Pages; i++)
        {
            if (i == 1)
            {
                <li class="page-item @(ViewBag.CurrentPage == 1 ? "disabled" : "")">
                    <a class="page-link" href="@Url.Action("Index", "Uzivatel", new {strana = ViewBag.CurrentPage - 1})">Předchozí</a>
                </li>
            }

            <li class="page-item @(ViewBag.CurrentPage == i ? "active" : "")">
                <a class="page-link" href="@Url.Action("Index", "Uzivatel", new {strana = i})">@i</a>
            </li>

            if (i == ViewBag.Pages)
            {
                <li class="page-item @(ViewBag.CurrentPage == ViewBag.Pages ? "disabled" : "")">
                    <a class="page-link" href="@Url.Action("Index", "Uzivatel", new {strana = ViewBag.CurrentPage + 1})">Další</a>
                </li>
            }
        }


    </ul>
}