@using DataAccess.Model
@model Rozpocet
@{
    ViewBag.Title = "Detail";
}

<h2 class="mt-4">Detail rozpoctu <strong>@Model.Nazev</strong></h2>

@if (ViewBag.Admin != null && ViewBag.Admin)
{
    <a class="icon-link" href="@Url.Action("RozpoctyProMeUzivatele", "Rozpocet")">
        <span class="fas fa-arrow-left fa-2x"></span>
    </a>
}
else
{
    <a class="icon-link" href="@Url.Action("Index", "Rozpocet")">
        <span class="fas fa-arrow-left fa-2x"></span>
    </a>
}

<a class="icon-link" href="@Url.Action("PridatPolozku", "Polozka", new {rozpocetId = Model.Id})">
    <span class="fas fa-plus-square fa-2x"></span>
</a>

@if (ViewBag.Polozky.Count == 0)
{
    <p>
        Rozpočet nemá žádné položky
    </p>
}
else
{
    <div class="progress" style="height: 20px;">
        <div class="progress-bar @(ViewBag.Zaplnenost > 100 ? "bg-danger" : "") >" role="progressbar" style="width: @ViewBag.Zaplnenost%;" aria-valuenow="@ViewBag.Zaplnenost" aria-valuemin="0" aria-valuemax="100">@ViewBag.Zaplnenost%</div>
    </div>

    <div class="table-responsive">
        <table class="table table-bordered table-hover text-center table-sm">
            <thead>
            <tr>      
                <th>Účel</th>
                <th>Cena</th>
                <th>Akce</th>
            </tr>
            </thead>
            <tbody>
            @foreach (PolozkaRozpoctu polozka in ViewBag.Polozky)
            {
                Html.RenderAction("Detail","Polozka", new {polozka = polozka, rozpocetId = Model.Id});
            }
            </tbody>
        </table>
    </div>
    
}

@if (ViewBag.Pages != null && ViewBag.Polozky.Count != 0)
{
    <ul class="pagination">

        @for (int i = 1; i <= ViewBag.Pages; i++)
        {
            if (i == 1)
            {
                <li class="page-item @(ViewBag.CurrentPage == 1 ? "disabled" : "")">
                    <a class="page-link" href="@Url.Action("Detail", "Rozpocet", new {strana = ViewBag.CurrentPage - 1, id = ViewBag.rozpocetId})">Předchozí</a>
                </li>
            }

            <li class="page-item @(ViewBag.CurrentPage == i ? "active" : "")">
                <a class="page-link" href="@Url.Action("Detail", "Rozpocet", new {strana = i, id = ViewBag.rozpocetId})">@i</a>
            </li>

            if (i == ViewBag.Pages)
            {
                <li class="page-item @(ViewBag.CurrentPage == ViewBag.Pages ? "disabled" : "")">
                    <a class="page-link" href="@Url.Action("Detail", "Rozpocet", new {strana = ViewBag.CurrentPage + 1, id = ViewBag.rozpocetId})">Další</a>
                </li>
            }
        }


    </ul>
}

<div>
    <span>Celkem k dispozici: <strong>@Html.DisplayFor(x => x.Velikost)</strong></span><br/>
    <span>Celkem použito: <strong>@(((decimal)ViewBag.Celkem).ToString("C2"))</strong></span><br/>
    @if (ViewBag.Pouzito > 0)
    {
        <span>Zbývá: <strong class="text-success">@(((decimal)ViewBag.Pouzito).ToString("C2"))</strong></span>
    }
    else
    {
        <span>Zbývá: <strong class="text-danger">@(((decimal)ViewBag.Pouzito).ToString("C2"))</strong></span>
    }
</div>

