@using DataAccess.Model
@model Rozpocet
@{
    ViewBag.Title = "Detail";
}

<h2 class="mt-4">Detail rozpoctu <strong>@Model.Nazev</strong></h2>

<a class="icon-link" href="@Url.Action("Index", "Rozpocet")">
    <span class="fas fa-arrow-left fa-2x"></span>
</a>
<a class="icon-link" href="@Url.Action("PridatPolozku", "Polozka", new {rozpocetId = Model.Id})">
    <span class="fas fa-plus-square fa-2x"></span>
</a>

@if (ViewBag.Polozky.Count == 0)
{
    <p>
        Rozpočet nemá žádné položky
    </p>
}
else
{
    <div class="progress" style="height: 20px;">
        <div class="progress-bar @(ViewBag.Zaplnenost > 100 ? "bg-danger" : "") >" role="progressbar" style="width: @ViewBag.Zaplnenost%;" aria-valuenow="@ViewBag.Zaplnenost" aria-valuemin="0" aria-valuemax="100">@ViewBag.Zaplnenost%</div>
    </div>

    <div class="table-responsive">
        <table class="table table-bordered table-hover text-center table-sm">
            <thead>
            <tr>      
                <th>Účel</th>
                <th>Cena</th>
                <th>Akce</th>
            </tr>
            </thead>
            <tbody>
            @foreach (PolozkaRozpoctu polozka in ViewBag.Polozky)
            {
                <tr>
                    <td>@polozka.Ucel</td>
                    <td>@polozka.Cena</td>
                    <td>
                        <a class="icon-link" href="@Url.Action("Odstranit", "Polozka", new {id = polozka.Id, rozpocetId = Model.Id})" onclick="return confirm('Přejete si opravdu odebrat polozku?')">
                            <span class="fas fa-lg fa-trash-alt icon-red"></span>
                        </a>
                    </td>
                </tr>
            }
            </tbody>
        </table>
    </div>
    
}

@if (ViewBag.Pages != null && ViewBag.Polozky.Count != 0)
{
    <ul class="pagination">

        @for (int i = 1; i <= ViewBag.Pages; i++)
        {
            if (i == 1)
            {
                <li class="page-item @(ViewBag.CurrentPage == 1 ? "disabled" : "")">
                    <a class="page-link" href="@Url.Action("Detail", "Rozpocet", new {strana = ViewBag.CurrentPage - 1, id = ViewBag.rozpocetId})">Předchozí</a>
                </li>
            }

            <li class="page-item @(ViewBag.CurrentPage == i ? "active" : "")">
                <a class="page-link" href="@Url.Action("Detail", "Rozpocet", new {strana = i, id = ViewBag.rozpocetId})">@i</a>
            </li>

            if (i == ViewBag.Pages)
            {
                <li class="page-item @(ViewBag.CurrentPage == ViewBag.Pages ? "disabled" : "")">
                    <a class="page-link" href="@Url.Action("Detail", "Rozpocet", new {strana = ViewBag.CurrentPage + 1, id = ViewBag.rozpocetId})">Další</a>
                </li>
            }
        }


    </ul>
}

<div>
    <span>Celkem k dispozici: <strong>@Model.Velikost Kč</strong></span><br/>
    <span>Celkem použito: <strong>@ViewBag.Celkem Kč</strong></span><br/>
    @if (Model.Velikost > ViewBag.Celkem)
    {
        <span>Zbývá: <strong class="text-success">@(Model.Velikost - ViewBag.Celkem) Kč</strong></span>
    }
    else
    {
        <span>Přesaženo: <strong class="text-danger">@(ViewBag.Celkem - Model.Velikost) Kč</strong></span>
    }
</div>

