@using DataAccess.Model
@model IList<Rozpocet>
@{
    ViewBag.Title = "Vypis";
}

<h2 class="mt-4">Rozpočty</h2>

<a class="icon-link" href="@Url.Action("VytvoreniRozpoctu", "Rozpocet")">
    <span class="fas fa-plus-square fa-2x"></span>
</a>
<p></p>

@if (Model.Count == 0)
{
    <p>Dosud nemáte vytvořený žádny rozpočet</p>
}
else
{
    <div class="table-responsive-sm">
        <table class="table table-bordered table-hover text-center table-sm">
            <thead>
                <tr>
                    <th>Název rozpočtu</th>
                    <th>Velikost</th>
                    <th>Platnost od</th>
                    <th>Platnost do</th>
                    <th>Akce</th>
                </tr>
            </thead>
            <tbody>
                @for (int i = 0; i < Model.Count; i++)
                {
                    Rozpocet r = Model[i];
                    <tr class="@ViewBag.Active[i]">
                        <td>@r.Nazev</td>
                        <td>@r.Velikost Kč</td>
                        <td>@r.PlatnyOd.ToShortDateString()</td>
                        <td>@r.PlatnyDo.ToShortDateString()</td>
                        <td class="text-center">
                            <a class="icon-link" href="@Url.Action("Detail", "Rozpocet", new {id = r.Id})">
                                <span class="fas fa-lg fa-arrow-circle-right"></span>
                            </a>
                            <a class="icon-link" href="@Url.Action("Editace", "Rozpocet", new {id = r.Id})">
                                <span class="fas fa-lg fa-edit icon-orange"></span>
                            </a>
                            <a class="icon-link" href="@Url.Action("Odstranit", "Rozpocet", new {id = r.Id})" onclick="return confirm('Přejete si opravdu odstranit rozpočet?')">
                                <span class="fas fa-lg fa-trash-alt icon-red"></span>
                            </a>
                        </td>
                    </tr>
                }
            </tbody>
        </table>
    </div>
}

@{
    Html.RenderAction("Strankovani", "Home", new {pages = ViewBag.Pages, currentPage = ViewBag.CurrentPage});
}