@using DataAccess.Model
@model Skupina
@{
    ViewBag.Title = "Editace skupiny";
}

<h2>Editace</h2>

@using (Html.BeginForm("UpraveniSkupiny", "Skupina", FormMethod.Post))
{
    @Html.HiddenFor(x => x.Id)
    @Html.HiddenFor(x => x.Zakladatel)
    @Html.HiddenFor(x => x.Uzivatele)

    <div class="form-group">
        <label>Název skupiny</label>
        @Html.TextBoxFor(a => a.Nazev, new { @class = "form-control col-sm-6" })
        @Html.ValidationMessageFor(a => a.Nazev, "", new { @class = "text-danger" })
    </div>

    <div class="table-responsive-sm">
        <table class="table table-bordered table-hover text-center table-sm">
            <thead>
                <tr>
                    <th>Jméno</th>
                    <th>Příjmení</th>
                    <th>Akce</th>
                </tr>
            </thead>
            <tbody>
                @foreach (Uzivatel u in ViewBag.Uzivatele)
                {
                    <tr>
                        <td>@u.Jmeno</td>
                        <td>@u.Prijmeni</td>
                        <td>
                            <a class="icon-link" href="@Url.Action("OdstranitUzivateleZeSkupiny", "Skupina", new {uzivatelId = u.Id, skupinaId = u.Skupina.Id})" onclick="return confirm('Přejete si opravdu odebrat uživatele @u.Jmeno @u.Prijmeni ze skupiny?')">
                                <span class="fas fa-lg fa-user-minus icon-red"></span>
                            </a>
                        </td>
                    </tr>
                }
            </tbody>
        </table>
    </div>

    <button type="submit" class="btn btn-dark">Odeslat</button>
}


