@using DataAccess.Model
@{
    ViewBag.Title = "Index";
}

<h2 class="mt-4">Skupiny</h2>

<a class="icon-link" href="@Url.Action("VytvoreniSkupiny", "Skupina")">
    <span class="fas fa-plus-square fa-2x"></span>
</a>
<p></p>

<p>
    <span></span>
</p>

@if (ViewBag.ListJePrazdny)
{
    <p>Zatím nemáte vytvořené žádné skupiny</p>
}
else
{

    <div class="table-responsive-sm">
        <table class="table table-bordered table-hover text-center table-sm">
            <thead>
                <tr>
                    <th>Identifikátor</th>
                    <th>Název skupiny</th>
                    <th>Akce</th>
                </tr>
            </thead>
            <tbody>
                @foreach (Skupina s in ViewBag.MeSkupiny)
                {
                    <tr>
                        <td>@s.Id</td>
                        <td>@s.Nazev</td>
                        <td class="text-center">
                            <a class="icon-link" href="@Url.Action("Detail", "Skupina", new {id = s.Id})">
                                <span class="fa fa-lg fa-users"></span>
                            </a>
                            <a class="icon-link" href="@Url.Action("Editace", "Skupina", new {id = s.Id})">
                                <span class="fa fa-lg fa-edit icon-orange"></span>
                            </a>
                            <a class="icon-link" href="@Url.Action("Odstranit", "Skupina", new {id = s.Id})" onclick="return confirm('Přejete si opravdu smazat skupinu s názvem @s.Nazev?')">
                                <span class="fa fa-lg fa-trash-alt icon-red"></span>
                            </a>
                        </td>
                    </tr>
                }
            </tbody>
        </table>
    </div>
}


