
@{
    ViewBag.Title = "Index";
    Layout = null;
}


<!doctype html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="Mark Otto, Jacob Thornton, and Bootstrap contributors">
    <meta name="generator" content="Jekyll v3.8.5">
    <title>Prihlaseni do aplikace</title>

    <link rel="canonical" href="https://getbootstrap.com/docs/4.3/examples/sign-in/">

    <!-- Bootstrap core CSS -->
    <link href="@Url.Content("~/Content/bootstrap.min.css")" rel="stylesheet">


    <style>
        .bd-placeholder-img {
            font-size: 1.125rem;
            text-anchor: middle;
            -webkit-user-select: none;
            -moz-user-select: none;
            -ms-user-select: none;
            user-select: none;
        }

        @@media (min-width: 768px) {
            .bd-placeholder-img-lg {
                font-size: 3.5rem;
            }
        }
    </style>
    <!-- Custom styles for this template -->
    <link href="@Url.Content("~/Content/signin.css")" rel="stylesheet">
</head>
<body class="text-center">
    <div class="form-signin">
        <img class="mb-4" src="@Url.Content("~/Content/wallet-oriznuta.png")"/>
        @if (TempData["user-exists"] != null)
        {
            <div class="alert alert-danger alert-dismissible fade show" role="alert">
                @TempData["user-exists"]
                <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
        }

        @using (Html.BeginForm("SignIn", "Login", FormMethod.Post, new { }))
        {

            <label for="inputEmail" class="sr-only">Login</label>
            <input type="text" name="login" id="inputEmail" class="form-control" placeholder="uživatel" required="">
            <label for="inputPassword" class="sr-only">Password</label>
            <input type="password" name="password" id="inputPassword" class="form-control" placeholder="heslo" required="">

            if (TempData["user-error-message"] != null)
             {
                 <div class="alert alert-danger alert-dismissible fade show" role="alert">
                     @TempData["user-error-message"]
                     <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                         <span aria-hidden="true">&times;</span>
                     </button>
                 </div>
             }
            if (TempData["message-success"] != null)
             {
                 <div class="alert alert-success alert-dismissible fade show" role="alert">
                     @TempData["message-success"]
                     <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                         <span aria-hidden="true">&times;</span>
                     </button>
                 </div>
             }

            <button class="btn btn-lg btn-outline-dark btn-block" type="submit">Přihlásit se</button>

            <a href="" data-toggle="modal" class="text-dark" data-target="#exampleModalCenter">
                Nemáte účet? Registrujte se zdarma.
            </a>

            <p class="mt-5 mb-3 text-muted">&copy; 2017-2019</p>

        }
    </div>


    <!-- Button trigger modal -->
    <!-- Modal -->
    <div class="modal fade" id="exampleModalCenter" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLongTitle">Vytvoření účtu</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                @{
                    Html.RenderAction("Registration", "Login");
                }
            </div>
        </div>
    </div>


    <script src="@Url.Content("~/Scripts/jquery-3.3.1.min.js")"></script>
    <script src="@Url.Content("~/Scripts/bootstrap.min.js")"></script>
    <script src="@Url.Content("~/Scripts/bootstrap.bundle.min.js")"></script>
    <script src="@Url.Content("~/Scripts/jquery.validate.min.js")"></script>
    <script src="@Url.Content("~/Scripts/jquery.validate.unobtrusive.min.js")"></script>
</body>
</html>


